adbc_driver_manager==1.9.0
adbc_driver_postgresql==1.9.0
adbc_driver_sqlite==1.9.0
aesara==2.9.4
aiohttp==3.11.14
amdsmi==7.0.2
anywidget==0.9.18
atheris==2.3.0
authlib==1.6.5
beautifulsoup4==4.14.2
bokeh==3.8.1
boto3==1.40.69
botocore==1.40.69
brotli==1.2.0
brotlicffi==1.1.0.0
cffi==1.17.1
cffi==2.0.0
chardet==5.2.0
checks==0.2
colorama==0.4.6
comtypes==1.4.13
ConfigParser==7.2.0
coremltools==8.3.0
cryptography==46.0.3
ctypes_snappy==1.03
cudf==0.6.1.post1
cupy==13.6.0
curio==1.6
cycler==0.12.1
Cython==3.2.0
dask_expr==2.0.0
deeplearning==0.0.1
defusedxml==0.7.1
dill==0.3.8
dl==0.1.0
docutils==0.22.3
duckdb==1.4.1
email_validator==2.3.0
etcd==2.0.8
eval_type_backport==0.2.2
exceptiongroup==1.3.0
expecttest==0.3.0
fastparquet==2024.11.0
fbscribelogger==0.1.7
flint==0.0.1
foo==.1
fqdn==1.5.1
gitdb_speedups==0.1.0
gmpy2==2.2.1
graphviz==0.21
h2==4.3.0
helion==0.2.1
HTMLParser==0.0.2
httpx_aiohttp==0.1.9
huggingface_hub==0.29.3
hypothesis==6.147.0
ibis==3.3.0
importlib_resources==6.5.2
ini2toml==0.15
ipython==9.0.2
ipywidgets==8.1.5
isal==1.8.0
isoduration==20.11.0
jnius==1.1.0
JPype1==1.6.0
jsonpath_ng==1.7.0
jsonpointer==3.0.0
kerchunk==0.2.9
keyring==25.6.0
lxml==6.0.2
lz4==4.4.5
lzmaffi==0.3.0
matchpy==0.5.5
ml_dtypes==0.5.3
modin==0.37.1
monkeytype==23.3.0
moviepy==2.2.1
mtrand==0.1
multiset==3.2.0
numexpr==2.14.1
objgraph==3.6.2
odfpy==1.4.1
olefile==0.47
onnx_ir==0.1.12
onnxruntime==1.23.2
onnxscript==0.5.6
openpyxl==3.1.5
optree==0.17.0
outcome==1.3.0.post0
paramiko==4.0.0
path.py==12.5.0
pkg1==0.0.3
plotly==6.4.0
polars==1.35.1
psutil==7.0.0
pulp==3.3.0
pwlf==2.5.2
py==1.11.0
pycares==4.11.0
pycosat==0.6.6
pycurl==7.45.7
pycute==0.1.0
pydy==0.8.0
pygit2==1.19.0
pyglet==2.1.11
pygraphviz==1.14
PyInstaller==6.16.0
pyinstrument==5.1.1
pymc==5.26.1
pymc3==3.11.6
pynvml==13.0.1
pyodide==0.0.2
pyOpenSSL==25.3.0
pyperf==2.9.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.10.0
pysat==3.2.2
PySide6==6.10.0
pyspark==4.0.1
pytest_subtests==0.15.0
python_calamine==0.5.4
python_socks==2.7.2
pytorch_lightning==2.5.6
pyxlsb==1.0.10
PyYAML==6.0.2
PyYAML==6.0.3
qtpy==2.4.3
redis==7.0.1
requests_kerberos==0.15.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
s3fs==2025.10.0
safetensors==0.6.2
sage==0.0.0
scikit_learn==1.7.2
scipy_doctest==2.0.1
setuptools_scm==9.2.2
simplejson==3.20.2
slack_sdk==3.37.0
smbprotocol==1.15.0
snowflake==1.8.0
socksio==1.0.0
speedups==1.4.0
Sphinx==8.2.3
SQLAlchemy==2.0.44
sqlframe==3.43.8
streamlit_pdf==1.0.8
symengine==0.14.1
tables==3.10.2
tabulate==0.9.0
theano==1.0.5
threadpoolctl==3.6.0
torch_xla==2.8.1
torchaudio==2.6.0
torchrec==1.3.0
torchvision==0.21.0
traitlets==5.14.3
trove_classifiers==2025.9.11.17
ujson==5.11.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.22.1
vegafusion==2.0.3
watchdog==6.0.0
webcolors==25.10.0
Werkzeug==3.1.3
wsaccel==0.6.7
xarray==2025.10.1
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
xmlrunner==1.7.7
xx==3.3.2
yarl==1.18.3
z3==0.2.0
zstandard==0.25.0
